.header-style{
    text-align: center;
    background-color: rgb(10, 82, 82);
    color: white;
    padding: 30px 0;
}
.header-style h2{
    margin-bottom: 20px;
}
.header-style a{
    color: aquamarine;
    font-weight: bold;
    margin:10px;
}